
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    margin-right: 15px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 10px;

}

.navbar .logo {
    margin-left: 10px;
    max-width: 200px;
    max-height: 60px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: gray;
    font-size: 16px;
    cursor: pointer;
}

.navbar-right {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 20px;
    cursor: pointer;
    margin-right: 6px;
}

.navbar .img-settings {
    background-color: transparent;
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(9, 47, 215);
    cursor: pointer;
}

.navbar li {
    cursor: pointer;
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 50%;
    top: -7px;
    left: 26px;
}

.navbar-profile {
    position: relative;
}

.navbar-profile:hover .navbar-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid rgb(218, 218, 218);
    outline: 2px solid white;
    list-style: none;
}

.mobile-navbar {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
}

.mobile-navbar a {
    color: gray;
    font-size: 24px;
    text-decoration: none;
}

.mobile-navbar a:hover {
    color: rgb(0, 0, 151);
}

.bold-image {
    transform: scale(2.5);
}

@media (max-width: 750px) {
    .mobile-navbar {
        display: flex;
    }

}

@media (max-width: 1050px) {
    .navbar .logo {
        width: 100px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 5px 20px;
    }
}

@media (max-width: 900px) {
    .navbar .logo {
        width: 90px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 15px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .navbar-menu {
        display: none;
    }

    .navbar .logo {
        width: 190px;
        height: 55px;
        margin-left: -5px;
    }

    .navbar-right {
        margin: 5px;
    }
}

.spin {
    display: inline-block;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}